* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

[class*="indx-"] {
  float: left;
  padding: 0px;
}

html {
  font-family: "century gothic", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.content {
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.home {
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  min-height: 665px;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 15px;
}
.left {
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  min-height: 665px;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 35px;
}
.right {
  background-color: white;
  opacity: 0.8;
  min-height: 768px;
  padding: 15px;
  color: black;
  text-align: center;
  font-size: 14px;
}

.footer {
  color: white;
  text-align: center;
  font-size: 18px;
  max-height: 50px;
}

/* For mobile phones: */
[class*="indx-"] {
  width: 100%;
  min-height: 550px;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  padding: 5px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .indx-s-1 {width: 50%;}
  .indx-s-2 {width: 100%;}
  .indx-s-3 {width: 35%;}
  .indx-s-4 {width: 65%;}
  
  }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .indx-1 {width: 50%;}
  .indx-2 {width: 100%;}
  .indx-3 {width: 35%;}
  .indx-4 {width: 65%;}
} 

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  min-height: 768px;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  padding: 5px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#clock {
  font-family: 'century gothic', monospace;
  color: black;
  text-align: center;
}

#clock .time {
  letter-spacing: 0.05em;
  font-size: 65px;
}

#clock .date {
  letter-spacing: 0.1em;
  font-size: 25px;
}

img {
  width: 100%;
  height: auto;
}